@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

html, body, .modeler-container, .modeler-container > div {
  height: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.test-container {
  height: 800px !important;

  &:only-of-type {
    height: calc(100% - 2px) !important;
    margin: 0;
  }
}

.test-content-container {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.modeler-container {
  flex: 1;
  position: relative;
}